.baotrum-thanhtoan{
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}
.thanhtoan-trai{
    flex: 0 0 calc((100% / 6)* 3.1);
    max-width: calc((100% / 6)* 3.1);
}

/* ----------------------------------------------------------------------------- */

.thanhtoan-phai{
    flex: 0 0 calc((100% / 6) * 2.9);
    max-width: calc((100% / 6) * 2.9);
    border-left: 1px solid #ccc;
    padding: 50px 10px 0 6%;
    background-color: #fafafa;
}

/* ----------------------------------------------------------------------------- */

.sanpham-thanhtoan{

}
.thanhtoan-giohang-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.thanhtoan-giohang-img{
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
}
.thanhtoan-giohang-img img{
    width: 48px;
    height: 48px;
}
.thanhtoan-giohang-img p{
    position: absolute;
    top: -12px;
    right: -13px;
    border-radius: 50%;
    display: block;
    padding: 3px 8px;
    background-color: #999999e6;
    color: #fff;
}
.thanhtoan-giohang-gia{
    color: #555555;
}

.thanhtoan-giohang-thongtin {
    margin-left: -140px;
}
.thanhtoan-giohang-ten p{
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.thanhtoan-giohang-mota {
    font-size: 12px;
    color: #999898;
}

/* ----------------------------------------------------------------------------- */

.thongtin-thanhtoan{
    margin-top: 10px;
}
.thongtin-thanhtoan-input{
    padding: 24px 0 16px 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.thongtin-thanhtoan-input input{
    width: 100%;
    padding: 10px 60px 10px 12px;
    margin-right: 70px; 
    border-radius: 4px;
    border: 1px solid #ccc;
}
.thongtin-thanhtoan-input input:focus {
    outline-color: #338dbc;
}
.thongtin-thanhtoan-input button{
    width: 60%;
    padding: 6px 24px;
    border: none;
    background-color: #c8c8c8;
    color: #fff;
    border-radius: 4px;
}
.thongtin-thanhtoan-input input:focus .thongtin-thanhtoan-input button {
    background-color: #338dbc;
}
/* ----------------------------------------------------------------------------- */
.thongtin-thanhtoan-cacphi{
    padding: 24px 0 24px 0;
    border-top: 1px solid #ccc;
    color: #717171;
}
.phitamtinh{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phitamtinh p:last-child,
.phivanchuyen p:last-child{
    color: #4b4b4b;
}
.phivanchuyen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

}

/* ----------------------------------------------------------------------------- */

.thongtin-thanhtoan-tongtien{
    padding: 24px 0 12px 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #717171;
}
.thongtin-thanhtoan-tongtien p:nth-child(2){
    margin-left: 232px;
    font-size: 12px;
}
.thongtin-thanhtoan-tongtien p:last-child{
    color: #4b4b4b;
    font-weight: 600;
}
/* ----------------------------------------------------------------------------- */